<h2 fxLayoutAlign="center center">iReport</h2>

<div fxLayoutAlign="center center" class="div-title">
    <mat-card-title fxLayoutAlign="center center" class="car-title">
        {{card.id + ' - '}}
        {{card.colName}}
    </mat-card-title>
</div>

<div class="div-btns" fxLayoutAlign="space-evenly">
    <app-button-icon-round [data]="previousBtn" (click)="previousQuestion()"></app-button-icon-round>
    <app-button-icon-round [data]="nextBtn" (click)="nextQuestion()"></app-button-icon-round>
</div>

<div fxLayoutAlign="center center">
    <mat-card class="card-ireport">
        <mat-card-content>

            <div class="div-tip-note" fxLayoutAlign="end center">
                <div class="tip">
                    TIP
                </div>
                <span> ...... </span>
                <div class="check">
                    CHECK
                </div>
            </div>
            <div fxLayout="column" *ngFor="let item of card.questions">
                <table class="styled-table">
                    <tr class="table-tr" fxLayoutAlign="space-between center">
                        <thead>
                            <tr>

                                <!-- <th>{{item.name}}</th> -->
                            </tr>
                        </thead>
                        <span class="first-span"></span>
                        <span class="second-span"></span>
                        <span class="first-span"></span>

                        <tbody>
                            <app-button-icon-round [data]="modalBtn" (click)="openModal(item.img, item.note)">
                            </app-button-icon-round>
                            <span> - </span>
                        </tbody>

                        <!-- checkbox -->
                        <!-- <mat-checkbox class="checkbox" [(ngModel)]="item.checked" (change)="getAnswer($event, (card.id + ' ' + card.question_name + ' ' + item.name))"></mat-checkbox> -->
                        <mat-checkbox class="checkbox" [(ngModel)]="item.checked"
                            (change)="getAnswer($event, card.id, card.question_name, item.name)"></mat-checkbox>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>