<h2 fxLayoutAlign="center center">iReport</h2>

<div fxLayoutAlign="center center" class="div-title">
    <mat-card-title fxLayoutAlign="center center" class="car-title">
        {{card.colName}}
    </mat-card-title>
</div>

<div class="div-btns" fxLayoutAlign="space-evenly">
    <app-button-icon-round [data]="previousBtn" (click)="previousQuestion()"></app-button-icon-round>
    <app-button-icon-round [data]="nextBtn" (click)="nextQuestion()"></app-button-icon-round>
</div>

<div fxLayoutAlign="center center">
    <mat-card class="card-ireport">
        <mat-card-content>

            <div fxLayout="column" *ngFor="let item of card.questions">
                <table class="styled-table">
                    <tr class="table-tr" fxLayoutAlign="space-between center">
                        <thead>
                            <tr>
                                <th>{{item.name}}</th>
                            </tr>
                        </thead>
                        <span class="first-span"></span>
                        <span class="second-span"></span>
                        <span class="first-span"></span>

                        <!-- checkbox -->
                        <mat-checkbox class="checkbox" [(ngModel)]="item.checked"
                            (change)="getAnswer($event, (item.answer_id + item.name))"></mat-checkbox>

                        <tbody>
                            <div class="table-values">

                                <!-- tooltip -->
                                <div class="tooltip">
                                    <app-button-icon-round [mtxTooltip]="tooltipImg" [mtxTooltipPosition]="'left'"
                                        [data]="tooltipBtn"></app-button-icon-round>
                                </div>
                                <ng-template #tooltipImg>
                                    <div style="background: gray">
                                        <img src="https://icons-for-free.com/download-icon-angular-1321215611022593855_256.png"
                                            alt="">
                                        {{item.note}}
                                    </div>
                                </ng-template>
                            </div>
                        </tbody>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>

<mat-checkbox checked="true" class="custom-frame">Data1</mat-checkbox>