<!-- button component -->
<!-- <button *ngFor="let btn of buttons" class="btn" (click)="self[btn.action]()"
    [ngStyle]="{'background-color': bgColor}">
    <span class="{{btn.nameIcon}}" [ngStyle]="getStyles(btn.color)"></span>
    <mat-icon [ngStyle]="getStyles(btn.color)">{{btn.nameIcon}}</mat-icon>
</button> -->

<button *ngFor="let btn of buttons" class="btn" mat-mini-fab color="primary" [ngStyle]="{'background-color': bgColor}"
    aria-label="Example icon button with a menu icon" (click)="self[btn.action]()">
    <mat-icon [ngStyle]="getStyles(btn.color)">{{btn.nameIcon}}</mat-icon>
</button>