<div>
    <div class="modal-header text-center d-block">
        <h4 class="modal-title">{{title}}</h4>
    </div>

    <div class="modal-body">
        <div class="div-img">
            <img id="my-img" width="550px" [src]="srcImg" alt="img" class="img-fluid">
        </div>

        <div class="notes">
            <h5>Cause or Solution:</h5>
            <p>{{notes}}</p>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" (click)="modalRef.close()">
            Close
        </button>
    </div>
</div>