<div fxLayout="container">
    <div fxFlex>

        <div fxLayout="column" style="margin: 50px;">
            <p>
                <b>iMechanic</b> it's a web application that allows you to
                manage your car's maintenance. You can add
                your
                car's information, add maintenance tasks, and track your car's
                maintenance history.
            <p>
            <p>
                Imagine that you have a car and you want to keep track of its
                maintenance. You can use this app to
                add your car.
            </p>

            <p>
                <a id="mech-info" href="https://www.newkidscar.com/" target="_blank">More mechanical information</a>
            </p>

            <div fxLayoutAlign="center center">
                <img src="https://live.staticflickr.com/65535/53024797266_4d67811ef7_o.png" width="650"
                    alt="home_pic" />
            </div>
        </div>


        <div *ngIf="isUserAuthenticated()" class="select-ride-btns" fxLayout="row" fxLayoutAlign="space-evenly">
            <button class="bike-btn" type="button" mat-stroked-button (click)="bikeSelected()">
                <mat-icon class="icons">two_wheeler</mat-icon>
            </button>
            <button class="car-btn" type="button" mat-stroked-button (click)="carSelected()">
                <mat-icon class="icons">directions_car</mat-icon>
            </button>
        </div>

    </div>
</div>