<div fxLayout="container">
    <div fxFlex>

        <!-- nav bar component -->
        <app-nav-bar></app-nav-bar>

        <!-- add some text content -->
        <div fxLayout="column" style="margin: 50px;">
            <p>
                <b>iMechanic</b> it's a web application that allows you to manage your car's maintenance. You can add
                your
                car's information, add maintenance tasks, and track your car's maintenance history.
            <p>
            <p>
                Imagine that you have a car and you want to keep track of its maintenance. You can use this app to
                add your car.
            </p>
        </div>

        <app-footer></app-footer>
    </div>
</div>