<div fxLayout="container">
    <div fxFlex>

        <!-- nav bar component -->
        <app-nav-bar></app-nav-bar>

        <!-- add some text content -->
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3>
                add some text content
            </h3>
            <h3>
                add some text content
            </h3>
            <h3>
                add some text content
            </h3>
            <h3>
                add some text content
            </h3>
            <h3>
                add some text content
            </h3>
        </div>

    </div>
</div>