.title {
  margin: 25px;
  padding: 5px;
  border: 1px solid #000000;
  font-size: 1.5em;
  background-color: #679479;
  color: #ffffff;
  width: 950px;
}

.select-car {
  margin: 25px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #679479;
  width: 800px;
}

.car-specs {
  margin: 5px;
  padding: 10px;
  width: 800px;
  border-collapse: collapse;
  background-color: #679479;
}

.styled-table {
  text-transform: uppercase;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.7em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #f5f5f5;
  color: #000000;
}

.styled-table th,
.styled-table td {
  padding: 5px 5px;
}

.styled-table tbody td {
  background-color: #679479;
  color: #ffffff;
}

.car-title {
  border: 1px solid #000000;
  font-size: 1.5em;
  background-color: #679479;
  color: #ffffff;
}

.first-span {
  background-color: white;
  display: inline-block;
  padding: 2px 5px;
}

.second-span {
  flex: 1;
  border-bottom: 2px dotted #000000;
}

a {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #476452;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
