<div fxFlex="auto">
    <mat-card fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-card-title fxLayoutAlign="center center">
            <img src="../../../assets/ic_launcher_foreground.png">iMechanic
        </mat-card-title>

        <mat-card-actions>
            <!-- <app-buttons [buttons]="buttons"></app-buttons> -->
            Login
            <app-button-icon-round [data]="loginBtn" (click)="redirectToLogin()">
            </app-button-icon-round>
            Home

            <!-- back button -->
            <app-button-icon-round [data]="backBtn" (click)="redirectToHome()">
                Home
            </app-button-icon-round>
        </mat-card-actions>

    </mat-card>
</div>