<div fxFlex="auto">
    <mat-card>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
                <mat-card-title fxLayoutAlign="center center">
                    <img src="../../../assets/ic_launcher_foreground.png">iMechanic
                </mat-card-title>
            </div>

            <div class="div-card-actions">

                <!-- check if user is authenticated -->
                <mat-card-actions>
                    <div *ngIf="!isUserAuthenticated()">

                        <!-- login -->
                        <app-button-icon-round [data]="loginBtn" (click)="redirectToLogin()">
                        </app-button-icon-round>
                        Login
                    </div>

                    <!-- check if user is authenticated -->
                    <div *ngIf="isUserAuthenticated()">
                        <app-button-icon-round [data]="logoutBtn" (click)="logOut()">Logout
                        </app-button-icon-round>
                        {{isUserActive}}

                        <!-- home button -->
                        <!-- <app-button-icon-round [data]="backBtn" (click)="redirectToHome()">
                        </app-button-icon-round>
                        Home -->
                    </div>
                </mat-card-actions>
            </div>

        </div>


    </mat-card>
</div>