<div fxLayout="column">
    <h1 id="login-title" fxLayoutAlign="center">
        Please login or register
    </h1>
    <div id="hr-line-div">
        <hr id="hr-line">
    </div>
    <div class="container">
        <input type="checkbox" id="flip" />
        <div class="cover">
            <div class="front">
                <img src="https://live.staticflickr.com/65535/52949257916_e9234528f8_o.png" width="512" height="512"
                    alt="ic_launcher-playstore">
            </div>
            <div class="back">
                <img src="https://live.staticflickr.com/65535/52949257916_e9234528f8_o.png" width="512" height="512"
                    alt="ic_launcher-playstore">
            </div>
        </div>
        <div class=" forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>

                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div class="input-boxes">
                            <div *ngIf="invalidLogin" id="invalid-login">
                                Invalid username or password.
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <label for="email" class="sr-only"> Email
                                    address </label>
                                <input type="email" id="email" name="email" [(ngModel)]="credentials.email"
                                    [(ngModel)]="credentials.name" class="form-control"
                                    placeholder="Enter your name or email" required />
                            </div>

                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <label for="password" class="sr-only"> Password
                                </label>
                                <input type="password" id="password" name="password" [(ngModel)]="credentials.password"
                                    class="form-control" placeholder="Enter your password" required />
                            </div>
                            <div class="text">
                                <a href="#">Forgot password?</a>
                            </div>

                            <button class="button input-box" fxLayoutAlign="center center" type="submit" value="Login"
                                [disabled]="!loginForm.valid" [ngStyle]="setStyles(loginForm)"
                                onmouseover="this.style.backgroundColor='#8ac53f'"
                                onmouseout="this.style.backgroundColor='#476452'">Login</button>

                            <div class="text sign-up-text">
                                Don't have an account? <label for="flip">Signup
                                    now</label>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>

                    <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
                        <div class="input-boxes">

                            <!-- password strenght -->
                            <div *ngIf="invalidSignup" id="invalid-password">
                                Passwords don't match
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" id="name" name="name" [(ngModel)]="credentials.name"
                                    class="form-control" placeholder="Enter your name" required />
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <label for="email" class="sr-only">Email
                                    address</label>
                                <input type="email" id="email" name="email" [(ngModel)]="credentials.email"
                                    class="form-control" placeholder="Enter your email" required />
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" name="password" [(ngModel)]="credentials.password"
                                    class="form-control" placeholder="Enter your password" required />
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <label for="retype-password" class="sr-only">Retype-password</label>
                                <input type="password" id="retype-password" name="retype-password"
                                    [(ngModel)]="retypePassword" class="form-control" placeholder="Retype your password"
                                    required />
                            </div>

                            <button class="button input-box" fxLayoutAlign="center center" type="submit" value="Signup"
                                [disabled]="!signupForm.valid" [ngStyle]="setStyles(signupForm)"
                                onmouseover="this.style.backgroundColor='#8ac53f'"
                                onmouseout="this.style.backgroundColor='#476452'">Signup</button>

                            <div class="text sign-up-text">
                                Already have an account? <label for="flip">Login
                                    now</label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>