// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

html,
body {
  --mdc-checkbox-selected-focus-icon-color: #000000;
  --mdc-checkbox-selected-hover-icon-color: #000000;
  --mdc-checkbox-selected-icon-color: #000000;
  --mdc-checkbox-selected-pressed-icon-color: #000000;
  --mdc-checkbox-selected-hover-state-layer-color: #000000;
  --mdc-checkbox-selected-pressed-state-layer-color: #000000;

  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
